{% extends 'base.html' %}

{% block body %}
  <center>
    <h2>O D B</h2>
  </center>
  <br>
  <div class="row">
    <div class="column">
      <img src="static/img/arrow.png" alt="arrow" width="400px" height="380px">
    </div>
    <div class="column">
      <br><br><br><br><br><br>
      <center>
        <a href="/btech">
          <h1 class="aaa">One Day Batting</h1>
        </a>
      </center>

    </div>
    <div class="column">
      <img align="right" src="static/img/arow.png" alt="arrow" width="400px" height="380px">
    </div>
  </div>
  <div class="abc">
    <div class="foot">
      <a class="footer-link" href="https://www.linkedin.com/in/gandhesaichandar/"> <i class="fa-brands fa-linkedin fa-lg"></i> </a>
      <a class="footer-link" href="https://www.instagram.com/stargsc/"><i class="fa-brands fa-instagram fa-lg"></i></a>
      <br>
      © Gandhe Sai Chandar
    </div>
  </div>
{% endblock %}
